* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Samsung Sharp Sans Regular", sans-serif;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  text-decoration: none;
}

a:visited {
  color: black;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.2);
}

body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
