* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Samsung Sharp Sans Regular", sans-serif;
  font-family: "Samsung Sharp Sans Bold", sans-serif;
  text-decoration: none;
}

a:visited {
  color: black;
}

*::selection {
  background-color: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
*::-webkit-scrollbar-button {
  display: none;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-corner {
  display: none;
}
*::-webkit-resizer {
  display: none;
}

body {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (min-width: 2000px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}
